*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

  body {
    font-family: "Lobster Two", sans-serif;
    background-color: #282c36;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  
    
    
  }

  .title {
    font-size: 3rem;
    color: #e1d3b6;
    font-family: "Lobster", sans-serif;
    font-weight: 100;
  }

  .text {
    
    color: #E1D3B6;
    font-size: 19px;
    opacity: 0.6;
    padding-top: 20px;
    
    
  }

  

  .txt {
    font-size: 2rem;
    color: #111a1f;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
    padding: 30px;
  
    
  
}

.txt:hover {
    color: #e0a840;
}

header {
  padding: 10px;
  background-color: #E1D3B6;
  position: sticky;
  z-index: 1000;
  top: 0;
  filter: drop-shadow(0px 0px 3px #18191a);
}

.navi {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  
}



.navi ol {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navi a {
  text-decoration: none;
  color: #111A1F;
  position: relative;
  display: inline-block;
}

.navi a.active:focus,
.navi a:hover {
  color: #e0a840;
}
 .navi a::after {
  content: "";
  position: absolute;
  background-color: #e0a840;
  width: 0;
  height: 0;
  border-radius: 50px;
  transition: 0.3s;
  border-radius: 50px;
  display: flex;
  left: 50%;
  
 }

.navi a:hover::after,
.navi a.active::after, 
.navi a:focus::after {
  width: 8px;
  height: 8px;
}



.about-lines {
  width: 80px;
  border: 1.5px solid #111a1f;
  border-bottom: none;
  border-top: none;
  text-align: center;

  
}



.menu-icon div{
  width: 35px;
  height: 5px;
  background-color: #111A1F;
  margin: 6px 0;
  border-radius: 10px;
  

}

.menu-icon > .line2{
  width: 18px;
  margin-left: 18px;
  cursor: pointer;

}

.menu-icon:focus {
  color: #e0a840;
}

.img-icon {
  width: 6%;
  height: 5%;
}

.filter-wrapper  button{
  font-size: 25px;
  display: flex;
}

.filter-wrapper {
  margin-top: 5%;
}



.filters {
  display: flex;
  list-style: none;
  gap: 10%;
  
  
  
  
  
}

.filters button {
  text-decoration: none;
  color: #e1d3b6;
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: "Lobster Two", sans-serif;
  bottom: 40%;
  font-size: 25px;
  
  

}



.filters button::after{
  content: "";
  position: absolute;
  background-color: #e0a840;
  width: 0;
  height: 0;
  border-radius: 50px;
  transition: 0.3s;
  display: flex;
  left: 50%;
  
  
}



.filters button:hover::after,
.filters button.active::after, 
.filters button:focus::after {
  width: 8px;
  height: 8px;
}

.filters a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  color: #dfcba4;
  
}

.filters .filter-list {
  background-color: #111A1F;
  position: absolute;
  min-width: 100px;
  max-height: 200px;
  box-shadow: 2px 2px 10px #111A1F;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
}

.filters .filter-list::-webkit-scrollbar{
  width: 5px;
  
  
}
.filters .filter-list::-webkit-scrollbar-thumb {
  background: rgb(32, 34, 34);
  border-radius: 10px;
  opacity: 0.5

}

.filters li:hover .filter-list {
  display: block;
}

.filter-list a:hover {
  background-color: #1a252b;

}

.filters li.active, 
.filters li:focus {
  display: block;
}





  .container {
    min-height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}



.meal-wrapper {

    margin: 0 auto;
    padding: 3rem;
    
    
    
}

.meal-search {
  width: 40%;
  margin-top: 5%;
}




/*search button*/

.input-wrapper {
  color: #e0a840;
  margin-top: 30px;
  
}
  

.search-field {
  width: 450px;
  height: 60px;
  color: #e0a840;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #e0a840;
  background-color: transparent;
  padding-left: 8px;
  font-size: 25px;
  font-family: "Inria Serif", serif;
}


.search-field::placeholder {
  color: #e0a840;
  font-size: 20px;
  font-weight: 100;
  font-family: "Inria Serif", serif;
}
  



.btn-search {
  color: #e0a840;
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin-left: -50px;
  cursor: pointer;
  
}

.btn-search:focus, .btn-search:hover {
  color: #e1d3b6;
}





/*meal details content*/

.recipe-btn {
  width: 50px;
  height: 20px;
  background-color: #282c36;
  color: #f8bf55;
  text-decoration: none;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 25px;
}

.recipe-btn:hover {
  background-color: #1a1d24;
}

.meal-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(15, 23, 26, 0.4);
  color: #e1d3b6;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.meal-name h3 {
  padding-bottom: 10px;
}

.meal-item:hover .meal-name {
  opacity: 1;
  background-color: rgba(15, 23, 26, 0.6);
  backdrop-filter: blur(5px);
}

/* Image part */
.meal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.meal-item:hover .meal-img img {
  transform: scale(1.1);
  filter: brightness(70%);
}



.meal-item {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 20px;
}

.meal-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}





/*meal details*/

.meal-details {
  width: 100%;
  height: 100%;
  position: fixed;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 50%;
  height: 90%;
  top: 5%;
  border: 0.2px solid #f7d18c;
  padding: 2rem;
  display: none;
  margin-left: 25%;
  background-color: rgba(20, 22, 27, 0.8);
  backdrop-filter: blur(20px);
  text-align: center;
  top: 63px;

}

.meal-details::-webkit-scrollbar{
  width: 5px;
  
  
}
.meal-details::-webkit-scrollbar-thumb {
  background: rgb(32, 34, 34);
  border-radius: 10px;
  opacity: 0.5

}



.close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  
  

  
}

.close-btn button {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;


}

.recipe-name {
  color: #e1d3b6;
  font-size: 2.5rem;
}

.instructions , .instructions a{
  color: #e1d3b6
  
}

.instructions  p {
  font-size: 20;
  font-family: "Great Vibes", regular;
  
}
.img-instru {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.recipe-category {
  color: rgb(48, 46, 46);
  border-radius: 5px;
  background-color: #f8bf55;
  text-transform: uppercase ;
  
}

.instructions a {
  font-size: 1.5rem;
}

.instructions {
  padding-top: 2rem;
}




.showRecipe{
  display: block;
  justify-content: center;

}


.notFound {
  color: #f8bf55;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  
  
  
}


/*text slide*/

/*@keyframes scrollright {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(-100%); 
  }
}

.item {
  position: absolute; 
  width: 100%;
  height: 45px;
  color: #e1d3b6;
  font-size: 1.5rem;
  animation-name: scrollright;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: "Great Vibes", regular;
  font-weight: 600;
}

.item1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.wrapper {
  position: relative;
  height: 45px;
  border: 2px solid #e1d3b6;
  border-left: none;
  border-right: none;
  display: flex;
  margin-inline: auto;
  overflow: hidden;
  z-index: 1000;
}*/

.links {
  
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: #5e6366;
  font-size: 20px;
  height: 100%;
  width: 100%;
  
  margin-top: 20px;
  padding: 10px;

  
  


}

.social-list {
  display: flex;
 list-style: none;
 
}

.social-list a:hover {
  color: #e1d3b6;

}

.social-list a {
  color: #111a1f; 
  padding: 0 25px;
  font-size: 25px;

}


.copyright {
  color: gray;
  font-size: 10px;
}

/*contact*/

.contact-wrapper {
  display: flex;
  padding: 0.5rem 0;
  transition: all 200ms ease-in-out;
  vertical-align: top;
  padding-left: 10px;
  align-content: center;
  align-items: center;
  margin-left: 90px;
  flex-wrap: wrap;
}


.contact-detail {
  height: 100%;
  
  top: 0;
  width: 40%;
  padding: 60px;
  background-color: rgba(15, 23, 26, 0.6);
  backdrop-filter: blur(5px);
  color: #E1D3B6;
  font-weight: 100;
 
  
}

.contact-detail h2 {
  font-size: 40px;
  width: 100%;
  margin-bottom: 60px;
}

.contact-detail p {
  margin-bottom: 30px;
  font-size: 17px;

}




.img-contact {
  width: 630px;
  height: 880px;
  object-position: 50% 50%;
}

.img2-contact {
  display: none;
}



.input-contact input, .msg textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  

}

.input-contact input:focus,
.msg textarea {
  border: 1px solid #e0a840;
  
}

.msg textarea::placeholder {
  padding: 20px;
}

.msg button {
  height: 45px;
  width: 100px;
  font-size: 20px;
  background-color: #e1d3b6;
  color: #111A1F;
  border-radius: 3px;
  outline: none;
  border: none;
  margin-top: 60px;
  margin-left: 75%;
  font-family: "lobster";
  cursor: pointer;
  
}

.msg button:hover {
  background-color: #dfcba4;
}

/*about*/

.about-wrapper {
  display: flex;
  padding: 0.5rem 0;
  transition: all 200ms ease-in-out;
  vertical-align: top;
  padding-left: 10px;
  align-content: center;
  align-items: center;
  margin-left: 90px;
}


.about-detail {
  height: 100%;
  
  top: 0;
  width: 40%;
  padding: 60px;
  background-color: rgba(15, 23, 26, 0.6);
  backdrop-filter: blur(5px);
  color: #E1D3B6;
  font-weight: 100;
 
  
}

.about-detail h2 {
  font-size: 40px;
  width: 100%;
  margin-bottom: 60px;
}

.about-detail p {
  margin-bottom: 30px;
  font-size: 17px;

}




.img-about {
  width: 630px;
  height: 738px;
  object-position: 50% 50%;
}

.img2-about {
  display: none;
}



/*responsive*/

@media screen and (min-width: 768px){
  #meal{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .meal-item{
      margin: 0;
  }
  .meal-details{
      width: 700px;
  }

  .menu-icon {
    display: none;
  }

  .img-icon {
    width: 2%;
    height: 2%;
    position: relative;
    left: -36%;
  }


  
}

@media screen and (min-width: 992px){
  #meal{
      grid-template-columns: repeat(3, 1fr);
  }

  .menu-icon {
    display: none;
  }


}

@media screen and (max-width: 786px) {
  header .navi ol{
    position: absolute;
    top: 100%;
    width: 20rem;
    height: calc(100vh - 9.5rem);
    background-color: rgba(20, 22, 27, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 20%;
    text-align: center;
    color: #e1d3b6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    display: none;

    
  }

  header .navi ol.active{
    right: 0%;
    display: block;

    
  }

  header .navi a{
    display: block;
    margin: 1.5rem;
    color: #e1d3b6;
    text-align: center;
    
    

  }

  .menu-icon {
    margin-left: 80%;
  }



  

  .about-lines {
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;
    width: 150px;
    
    
  
  }




  .title {
    font-size: 3rem;
    width: 100%;
  }
  .text {
    font-size: 1.5rem;
  }
  .txt {
    font-size: 1.5rem;
  }

  .meal-wrapper {
    background-image: url(image/bg3-mobile.jpg);
    background-position: left;
 
    
   
    
    
  }
  .search-field {
    width: 300px;
    font-size: 16px;
    margin-top: 70px;
    bottom: 0;
    font-size: 20px;
  }
  .btn-search {
    
    font-size: 24px;
  }
  .recipe-btn {
    font-size: 16px;
    padding: 8px 20px;
  }
  .meal-name h3 {
    font-size: 1.8rem;
  }
  .meal-item {
    padding-bottom: 15px;
    margin-top: 20px;
    
  }

  .search-field:focus {
    width: 300px;
    }

  .btn-search:focus ~ .search-field {
    width: 300px;
    }

  .meal-search {
    width: 80%;
  }

  
  .meal-details {
    width: 100%;
    margin-left: 0;
    top: 80px;
    
  }

  .filters {
    display: none;
  }

  .contact-wrapper {
    flex-direction: row;
    margin-left: 0;
    width: 100%;
  

  }

  .img-contact {
    display: none;
  }

  .img2-contact {
    display: block;
    width: 100%;
    
  }

  .contact-detail {
    width: 100%;
    padding: 40px;
  }

  /*about*/

  .about-wrapper {
    flex-direction: row;
    margin-left: 0;
    width: 100%;
    display: inline;
  }

  .img-about {
    display: none;

  }

  .img2-about {
    display: block;
    width: 100%;
  }

  .about-detail {
    width: 100%;

  }
  

  
  
}